# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development database (SQLite)
db.sqlite3
db.sqlite3-journal

# Environments and Secrets
.env
.venv
env/
venv/
ENV/
local_settings.py

# Media and Static
media/
staticfiles/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
static_files
