    <article class="post">
        <header>
            <h2 class="post__title">
                Lorem ipsum dolor sit amet.
            </h2>
        </header>
        <div class="post__body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, at nemo! Cum rerum est autem, illum nulla aut id iste fugiat enim, labore unde aspernatur mollitia itaque ipsa ratione sunt. Delectus deserunt quas at nobis sequi est fugit iusto laudantium reprehenderit accusantium? Quisquam deserunt voluptas laboriosam in impedit harum eius.
        </div>
    </article>